body{
    font-family: 'Roboto', sans-serif;
    height: 2000px;
    
}

.light{
    color: white;
    text-shadow: 1px 1px 5px rgba(150, 150, 150, 0.9);
}

blockquote { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

iframe {
    width: 100.5vw;
    height: 56.7vw;
    margin-top: -2.2%;
    margin-left: -2.2%;
}
.header1{
    font-size: 20vh!important;
}

.code {
  align-self: center;
  align-items: center;
  align-self: auto;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
  height: 10%;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}*/

.header1{ 
  font-size: 20vh!important;
  text-align: center;
}

.header2{
  font-size: 10vh;
  text-align: center;

}

.header3{
  font-size: 8vh;
}

.header4{
  font-size: 6vh;
}

.header5{
  font-size: 4vh;
}

.header6{
  font-size: 2vh;
}

.list{
  text-align: left;
}