@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

@import '../../assets/codeThemes/duotone-sea.css';
/*
@import '../../assets/tempt/copy-tex.min.css';
*/

.preview{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #5e7c86 75%);
    font-family: 'Roboto', sans-serif;
    height: 90vw!important;
    width: 100vw!important;
  
  /*  height: 90vh!important;
    width: 1000vh!important; 
    display: flex;*/
    
}
/*
.blockquote{
  top: 20%!important;
  left:20%!important;
  width: 60%;
  height: 200px;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}
*/
.list{
  font-size: 40px;
  margin-left: 20%;
}

.light{
    color: white;
    text-shadow: 1px 1px 5px rgba(150, 150, 150, 0.9);
}
.textarea{
  resize:both;
  border: 2px dashed orange;
  outline: none;
}
.tex{
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vh;
  margin-left: -50%;
  /*transform: scale(2.7);*/
}
.blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}